#herod {
    background-image: url(../img/anders-jilden-cYrMQA7a3Wc-unsplash.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#herod::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: white; */
    opacity: .7;
    z-index: -1;
}

#herod .hero1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
    #herod {
        height: 1000px;
    }
}